<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>

    <log4net>
      <root>
        <level value="DEBUG" />
        <appender-ref ref="RollingFileAppenderV1" />
      </root>
      
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
        <param name="File" value="log/log-file.txt" />
        <param name="AppendToFile" value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
      </appender>
      
      <appender name="RollingFileAppenderV1" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="log\ciclog.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="-1" />
        <maximumFileSize value="5000KB" />
        <staticLogFileName value="true" />
        <countDirection value="1"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%-5p %d %5rms %-30.30c{1} %-30.30M - %m%n" />
        </layout>
      </appender>
    </log4net>
  
    <applicationSettings>
        <CIC.Properties.Settings>
            <setting name="ScreenPopRecordId" serializeAs="String">
                <value>is_attr_i3_rowid</value>
            </setting>
            <setting name="AlternatePreviewNumbers" serializeAs="String">
                <value>is_attr_phone_mobile;is_attr_phone_office;is_attr_phone_home</value>
            </setting>
            <setting name="TransferPanelVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview_Direction_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_CallType_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_QueueName_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_Number_ATTR" serializeAs="String">
                <value>is_attr_numbertodial</value>
            </setting>
            <setting name="Preview_CallState_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_Campaign_ATTR" serializeAs="String">
                <value>is_attr_campaignid</value>
            </setting>
            <setting name="ScreenPop_PostQueryString" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenPop_PreQueryString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReasonCode_Busy" serializeAs="String">
                <value>Busy</value>
            </setting>
            <setting name="ReasonCode_Deleted" serializeAs="String">
                <value>Remove from list</value>
            </setting>
            <setting name="ReasonCode_Failure" serializeAs="String">
                <value>Failure</value>
            </setting>
            <setting name="ReasonCode_Fax" serializeAs="String">
                <value>Fax</value>
            </setting>
            <setting name="ReasonCode_Machine" serializeAs="String">
                <value>Answering machine</value>
            </setting>
            <setting name="ReasonCode_NoAnswer" serializeAs="String">
                <value>No answer</value>
            </setting>
            <setting name="ReasonCode_RemoteHangup" serializeAs="String">
                <value>Hang up</value>
            </setting>
            <setting name="ReasonCode_Scheduled" serializeAs="String">
                <value>Call back later</value>
            </setting>
            <setting name="ReasonCode_SIT" serializeAs="String">
                <value>Sit</value>
            </setting>
            <setting name="ReasonCode_Success" serializeAs="String">
                <value>Success</value>
            </setting>
            <setting name="ReasonCode_WrongParty" serializeAs="String">
                <value>Wrong number</value>
            </setting>
            <setting name="CamEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Customer Interaction Center 3.0</value>
            </setting>
            <setting name="AutoResetUserStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenPop_KeyList_ATTR" serializeAs="String">
                <value>key2</value>
            </setting>
            <setting name="ScreenPop_FieldList_ATTR" serializeAs="String">
                <value>is_attr_custid</value>
            </setting>
            <setting name="StartupUrl" serializeAs="String">
                <value>http://cicocs/crm_cic30/login.aspx?usr={0}&amp;psw={1}</value>
            </setting>
            <setting name="PrePopUrl" serializeAs="String">
                <value>http://cicocs/crm_cic30/mainscnapp.aspx?callid={0}key={1}</value>
            </setting>
            <setting name="PopUrl" serializeAs="String">
                <value>http://cicocs/crm_cic30/mainscnapp.aspx?callid={0}&amp;key={1}</value>
            </setting>
            <setting name="startSearchKey" serializeAs="String">
                <value>?SID=</value>
            </setting>
            <setting name="endSearchKey" serializeAs="String">
                <value>&amp;</value>
            </setting>
            <setting name="InbdScreenPop_FieldList_ATTR" serializeAs="String">
                <value>acd_popup_id</value>
            </setting>
            <setting name="ReasonCode_Transfereded" serializeAs="String">
                <value>Transferred to another agent</value>
            </setting>
            <setting name="DisplayIVR_Screen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Display_WebMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CIC_Agent_Hlp" serializeAs="String">
                <value>CICAgentHlp.chm</value>
            </setting>
            <setting name="NormalBar_Normal" serializeAs="String">
                <value>bluebgBar.jpg</value>
            </setting>
            <setting name="NormalBar_Info" serializeAs="String">
                <value>yellowbgBar.jpg</value>
            </setting>
            <setting name="NormalBar_Active" serializeAs="String">
                <value>redbgBar.jpg</value>
            </setting>
            <setting name="WorkFlowBar_Normal" serializeAs="String">
                <value>bluebgBar.jpg</value>
            </setting>
            <setting name="WorkFlowBar_Info" serializeAs="String">
                <value>yellowbgBar.jpg</value>
            </setting>
            <setting name="WorkFlowBar_Active" serializeAs="String">
                <value>redbgBar.jpg</value>
            </setting>
            <setting name="WorkFlowBar_Initial" serializeAs="String">
                <value>pinkbgBar.jpg</value>
            </setting>
            <setting name="TransferBar" serializeAs="String">
                <value>redbgBar.jpg</value>
            </setting>
            <setting name="MainBackground" serializeAs="String">
                <value>whitebgTopPannel.jpg</value>
            </setting>
            <setting name="SwitchOverSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncompletedWorkflowMsg" serializeAs="String">
                <value>Please logout workflow.</value>
            </setting>
            <setting name="CompletedWorkflowMsg" serializeAs="String">
                <value>Workflow logout complete.</value>
            </setting>
            <setting name="CompletedBreak" serializeAs="String">
                <value>Completed break.</value>
            </setting>
            <setting name="SingleSignOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncompletedCall" serializeAs="String">
                <value>Please finish the Current Call.</value>
            </setting>
            <setting name="AutoAnswer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NormalAlertSound" serializeAs="String">
                <value>seankingston-beautifulgirl.mp3</value>
            </setting>
            <setting name="DialerAlertSound" serializeAs="String">
                <value>ClientAlert4.wav</value>
            </setting>
            <setting name="NormalAlertting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DialerAlerting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NormalLooping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DialerLooping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DialerRingCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NormalRingCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="StationType1Name" serializeAs="String">
                <value>Workstation</value>
            </setting>
            <setting name="StationType1Value" serializeAs="String">
                <value>Workstation</value>
            </setting>
            <setting name="StationType1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StationType2Name" serializeAs="String">
                <value>This Computer</value>
            </setting>
            <setting name="StationType2Value" serializeAs="String">
                <value>This Computer</value>
            </setting>
            <setting name="StationType2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StationType3Name" serializeAs="String">
                <value>Remote Workstation</value>
            </setting>
            <setting name="StationType3Value" serializeAs="String">
                <value>Remote Workstation</value>
            </setting>
            <setting name="StationType3Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StationType4Name" serializeAs="String">
                <value>Remote Number</value>
            </setting>
            <setting name="StationType4Value" serializeAs="String">
                <value>Remote Number</value>
            </setting>
            <setting name="StationType4Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StationType5Name" serializeAs="String">
                <value>Sip Soft Phone</value>
            </setting>
            <setting name="StationType5Value" serializeAs="String">
                <value>Sip Soft Phone</value>
            </setting>
            <setting name="StationType5Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallerSupports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCRMSignOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ACDAvailableTalkMsg" serializeAs="String">
                <value>available, talk</value>
            </setting>
            <setting name="ACDAgenNotAnsweringMsg" serializeAs="String">
                <value>acd - agent not answering</value>
            </setting>
            <setting name="CountdownTime" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MSCRMServerName" serializeAs="String">
                <value>10.3.112.57/UATOBC/main.aspx?</value>
            </setting>
            <setting name="FormatDate" serializeAs="String">
                <value>dd/MM/yyyy</value>
            </setting>
            <setting name="FormatDateTime" serializeAs="String">
                <value>dd/MM/yyyy HH:mm</value>
            </setting>
            <setting name="BadLoginMsg" serializeAs="String">
                <value>ชื่อหรือรหัสผ่านไม่ถูกต้อง กรุณาตรวจสอบแล้วลองอีกครั้ง</value>
            </setting>
            <setting name="TooManyBadLoginMsg" serializeAs="String">
                <value>User ID หรือ Password ผิดเกิน 3 ครั้ง กรุณาติดต่อ Admin ระบบ</value>
            </setting>
            <setting name="CallingWaitTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DispositionTimeOut" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PredictiveReasonCode" serializeAs="String">
                <value>ic_reason_code.xml</value>
            </setting>
            <setting name="PreviewReasonCode" serializeAs="String">
                <value>ic_reason_code.xml</value>
            </setting>
            <setting name="PowerReasonCode" serializeAs="String">
                <value>ic_reason_code.xml</value>
            </setting>
            <setting name="AutoScheduledTime" serializeAs="String">
                <value>1</value>
            </setting>
        </CIC.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CIC.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value>suthee</value>
            </setting>
            <setting name="StationId" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="Phone" serializeAs="String">
                <value>0122917823</value>
            </setting>
            <setting name="StationTypeId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseWindowsAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePersistentConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>192.168.100.21</value>
            </setting>
            <setting name="FailOverServer" serializeAs="String">
                <value>192.168.100.22</value>
            </setting>
            <setting name="savePassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerDateTimeFormat" serializeAs="String">
                <value>yyyy-dd-MM HH:mm</value>
            </setting>
        </CIC.Properties.Settings>
    </userSettings>
</configuration>