<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CIC.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value>suthee</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>10.1.20.14</value>
            </setting>
            <setting name="StationId" serializeAs="String">
                <value />
            </setting>
            <setting name="Phone" serializeAs="String">
                <value>0122917823</value>
            </setting>
            <setting name="StationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseWindowsAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePersistentConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransferPanelVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview_Direction_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_CallType_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_QueueName_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_Number_ATTR" serializeAs="String">
                <value>is_attr_numbertodial</value>
            </setting>
            <setting name="Preview_CallState_ATTR" serializeAs="String">
                <value />
            </setting>
            <setting name="Preview_Campaign_ATTR" serializeAs="String">
                <value>is_attr_campaignid</value>
            </setting>
            <setting name="ScreenPop_PostQueryString" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenPop_PreQueryString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReasonCode_Busy" serializeAs="String">
                <value>Busy</value>
            </setting>
            <setting name="ReasonCode_Deleted" serializeAs="String">
                <value>Remove from list</value>
            </setting>
            <setting name="ReasonCode_Failure" serializeAs="String">
                <value>Failure</value>
            </setting>
            <setting name="ReasonCode_Fax" serializeAs="String">
                <value>Fax</value>
            </setting>
            <setting name="ReasonCode_Machine" serializeAs="String">
                <value>Answering machine</value>
            </setting>
            <setting name="ReasonCode_NoAnswer" serializeAs="String">
                <value>No answer</value>
            </setting>
            <setting name="ReasonCode_RemoteHangup" serializeAs="String">
                <value>Hang up</value>
            </setting>
            <setting name="ReasonCode_Scheduled" serializeAs="String">
                <value>Call back later</value>
            </setting>
            <setting name="ReasonCode_SIT" serializeAs="String">
                <value>Sit</value>
            </setting>
            <setting name="ReasonCode_Success" serializeAs="String">
                <value>Success</value>
            </setting>
            <setting name="ReasonCode_WrongParty" serializeAs="String">
                <value>Wrong number</value>
            </setting>
            <setting name="CamEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoResetUserStatus" serializeAs="String">
                <value>True</value>
            </setting>
        </CIC.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CIC.Properties.Settings>
            <setting name="ScreenPopRecordId" serializeAs="String">
                <value>is_attr_i3_rowid</value>
            </setting>
            <setting name="AlternatePreviewNumbers" serializeAs="String">
                <value>is_attr_phone_mobile;is_attr_phone_office;is_attr_phone_home</value>
            </setting>
            <setting name="ScreenPopFrame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Customer Interaction Center 3.0</value>
            </setting>
            <setting name="ScreenPop_KeyList_ATTR" serializeAs="String">
                <value>key2</value>
            </setting>
            <setting name="ScreenPop_FieldList_ATTR" serializeAs="String">
                <value>is_attr_custid</value>
            </setting>
            <setting name="StartupUrl" serializeAs="String">
                <value>http://10.1.20.55/crm62/eware.dll/?eware_UserID=admin&amp;password=&amp;act=220</value>
            </setting>
            <setting name="PrePopUrl" serializeAs="String">
                <value>http://10.1.20.55/crm62/eware.dll/logout?</value>
            </setting>
            <setting name="PopUrl" serializeAs="String">
                <value>http://10.1.20.55/crm62/eware.dll/?eware_UserID=admin&amp;password=&amp;act=220</value>
            </setting>
            <setting name="startSearchKey" serializeAs="String">
                <value>?SID=</value>
            </setting>
            <setting name="endSearchKey" serializeAs="String">
                <value>&amp;</value>
            </setting>
        </CIC.Properties.Settings>
    </applicationSettings>
</configuration>